<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eel example</title>

    <link rel="stylesheet" href="../css/styles.css" />
    <script type="text/javascript" src="/eel.js"></script>
</head>
<body>
      <div class="sidepanel">
          <a href="index.html">
            <img src="../images/btn-search.png">
            <div class="sidepanelBtn">
              Search
            </div>
          </a>

          <a onclick="create_playlist()">
            <img src="../images/btn-new.png">
            <div class="sidepanelBtn">
              New playlist
            </div>
          </a>

          <hr>

          <div id="playlistscontainer">

          </div>

    </div>
  {% block content %}
  {% endblock %}
</body>
<script src="../javascript/index.js"></script>
</html>
