{% extends "base.html" %}
{% block content %}

<menu title="Add" id="addMenu">
</menu>

<div class="main">


    <div class="content">
      <div class="maindisplay">
        <input type="text" placeholder="Search for a song" value="" id="searchField">
        <button class="login" id="loginbtn">Login to Spotify</button>
        <div class="results">

          <div class="appservice">
            <figure>
              <img src="../images/youtube.png">
              <figcaption> Results </figcaption>
            </figure>

            <div class="resultsbox" id="youtubeResults">
              <!-- list foreach youtube search result here -->
            </div>
          </div>

          <div class="appservice">
            <figure>
              <img src="../images/spotify.png">
              <figcaption> Results </figcaption>
            </figure>

            <div class="resultsbox" id="spotifyResults">
              <!-- list foreach youtube search result here -->
            </div>
          </div>

        </div>
      </div>


      <div class="player">
        <div class="playerButtons">
            <img src="../images/btn-back.png">
            <img src="../images/btn-play.png">
            <img src="../images/btn-next.png">
        </div>

        <div class="playerTrack">
            <div id="player"></div>
        </div>

        <div class="playerVolume">
            <img src="../images/volume.png">
            <input type="range" id="volume-control">
        </div>

        <div class="playerInfo">
            <!-- Do this dynamically in JS -->
        </div>
      </div>
    </div>
</div>

<script type="module" src="../javascript/index.js"></script>

{% endblock %}