{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../css/playlist-styles.css">

<menu title="Remove" id="removeMenu">
</menu>

<div class="main">
    <div class="content">
      <div class="maindisplay">
        <div class="playlistHeader">
          <h1 id="playlistTitle">
            <!-- Playlist title here -->
            <img src="../images/btn-play.png" id="startBtn">
          </h1>
          <span class="playlistInfo"></span>
        </div>

        <div class="songs">
          <div class="playlistSongs">
            <!-- Add each song through JS here -->
          </div>
        </div>
      </div>


      <script src="https://sdk.scdn.co/spotify-player.js"></script>


      <div class="player">
        <div class="playerButtons">
            <img src="../images/btn-back.png" id="previousBtn">
            <img src="../images/btn-play.png" id="playBtn">
            <img src="../images/btn-next.png" id="nextBtn">
        </div>

        <div class="playerTrack">
          <input type="range" id="scrubber" value="0">
            <div id="player"></div>
        </div>

        <div class="playerVolume">
            <img src="../images/volume.png">
            <input type="range" id="volume-control">
        </div>

        <div class="playerInfo">
            <!-- Do this dynamically in JS -->
        </div>
      </div>
    </div>
</div>

<script type="module" src="../javascript/playlist.js"></script>
{% endblock %}