<!DOCTYPE html>
<html>
  <head>
    <title>AllPlay</title>

    <!-- Include eel.js - note this file doesn't exist in the 'web' directory -->
    <script type="text/javascript" src="/eel.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/playlist-styles.css">
  </head>

  <body>
    <header>
      <strong><span>all</span>play</strong>
    </header>

    <div class="main">

        <div class="sidepanel">
          <a href="hello.html">
            <img src="images/btn-search.png">
            <div class="sidepanelBtn">
              Search
            </div>
          </a>
  
          <a href="playlist.html">
            <img src="images/btn-new.png">
            <div class="sidepanelBtn">
              New playlist
            </div>
          </a>
  
          <hr>
  
          <!-- Add a for all playlists here -->
  
        </div>
  
  
        <div class="content">
          <div class="maindisplay">

          </div>
        </div>
      </div>
  </body>
</html>
