<!DOCTYPE html>
<html>
  <head>
    <title>AllPlay</title>

    <!-- Include eel.js - note this file doesn't exist in the 'web' directory -->
    <script type="text/javascript" src="/eel.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/playlist-styles.css">
  </head>

  <body>
    <header>
      <strong><span>all</span>play</strong>
    </header>

    <div class="main">
  
        <div class="content">
          <div class="maindisplay">

          </div>
        </div>
      </div>
  </body>
</html>
